<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterCateAdmin</filter-name>
        <filter-class>Filters.FilterCateAdmin</filter-class>
    </filter>
    <filter>
        <filter-name>FilterOrderAdmin</filter-name>
        <filter-class>Filters.FilterOrderAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterOrderAdmin</filter-name>
        <servlet-name>UpdateOrderAdminServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterCateAdmin</filter-name>
        <servlet-name>UpdateCategoriesServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInforServlet</servlet-name>
        <servlet-class>controller.ChangeInforServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePwdServlet</servlet-name>
        <servlet-class>controller.ChangePwdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookDetail</servlet-name>
        <servlet-class>controller.ViewBookDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBookServlet</servlet-name>
        <servlet-class>controller.RemoveBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <servlet-class>controller.UpdateQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryOrderServlet</servlet-name>
        <servlet-class>controller.HistoryOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusOrderServlet</servlet-name>
        <servlet-class>controller.ChangeStatusOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterHistoryOrder</servlet-name>
        <servlet-class>controller.FilterHistoryOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstPage</servlet-name>
        <servlet-class>controller.FirstPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>controller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllAccount</servlet-name>
        <servlet-class>controller.ViewAllAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAccountStatus</servlet-name>
        <servlet-class>controller.ChangeAccountStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllBook</servlet-name>
        <servlet-class>controller.ViewAllBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeBookStatus</servlet-name>
        <servlet-class>controller.ChangeBookStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBook</servlet-name>
        <servlet-class>controller.UpdateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeBookImage</servlet-name>
        <servlet-class>controller.ChangeBookImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoriesServlet</servlet-name>
        <servlet-class>controller.UpdateCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderAdminServlet</servlet-name>
        <servlet-class>controller.UpdateOrderAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/main-controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/do-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/do-register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/do-search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/do-logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInforServlet</servlet-name>
        <url-pattern>/do-change-infor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePwdServlet</servlet-name>
        <url-pattern>/do-change-pwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookDetail</servlet-name>
        <url-pattern>/view-book-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBookServlet</servlet-name>
        <url-pattern>/remove-book-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityServlet</servlet-name>
        <url-pattern>/update-quantity-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/check-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryOrderServlet</servlet-name>
        <url-pattern>/history-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusOrderServlet</servlet-name>
        <url-pattern>/change-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterHistoryOrder</servlet-name>
        <url-pattern>/filter-by-date</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstPage</servlet-name>
        <url-pattern>/first-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/view-order-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllAccount</servlet-name>
        <url-pattern>/view-all-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAccountStatus</servlet-name>
        <url-pattern>/change-account-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllBook</servlet-name>
        <url-pattern>/view-all-book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeBookStatus</servlet-name>
        <url-pattern>/change-book-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBook</servlet-name>
        <url-pattern>/update-book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeBookImage</servlet-name>
        <url-pattern>/change-book-image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoriesServlet</servlet-name>
        <url-pattern>/update-categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderAdminServlet</servlet-name>
        <url-pattern>/update-order-admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>first-page</welcome-file>
    </welcome-file-list>
</web-app>
